<template>
  <div>
    <b-jumbotron header="Child Component">
      <input type="text" :value="value" @input="updateValue($event.target.value)" />
    </b-jumbotron>
    <!-- <p> child component : {{inputData}}</p>
    <input type="text" v-model="inputData" @keyup="$emit('update',inputData)" />-->
  </div>
</template>

<script>
export default {
  name: "inputmodel",
  props: ["value"],
  methods: {
    updateValue(value) {
      this.$emit("input", value);
    }
  }
};
</script>
