<template>
  <div id="app">
    <b-container>
      <b-table striped hover :items="users" :fields="fields" caption-top>
        <template v-slot:table-caption>Users Table</template>

        <template v-slot:cell(name)="data">
          <b v-if="!data.item.edit">
            <input type="text" v-model="data.item.name" />
          </b>
          <b v-else>{{ data.value}}</b>
        </template>

        <template v-slot:cell(email)="data">
          <b>{{ data.value}}</b>
        </template>

        <template v-slot:cell(phone)="data">
          <b>{{ data.value}}</b>
        </template>

        <template v-slot:cell(address)="data">
          <b>{{ data.value.street }}</b>
        </template>

        <template v-slot:cell(edit)="data">
          <b>
            <b-button
              v-if="data.item.edit"
              @click="data.item.edit=false"
              pill
              variant="secondary"
              class="mb-1"
            >Edite</b-button>
            <b-button
              v-else
              @click="data.item.edit=true"
              pill
              variant="success"
              class="mb-1"
            >Success</b-button>
          </b>
        </template>

        <template v-slot:cell(delete)="data">
          <b>
            <b-button @click="deleterow(data.index)" pill variant="danger">Delete</b-button>
          </b>
        </template>
      </b-table>
    </b-container>
    <!-- <input-model :inputData="username" @update="username = $event" />
    <p>parent : {{ username }}</p>
    -->
    <input-model v-model="username"></input-model>

    <b-jumbotron header="Parent components">
      <p>Parent value: {{username}}</p>
    </b-jumbotron>
  </div>
</template>

<script>
import axios from "axios";
import InputModel from "./components/InputModel.vue";

export default {
  data() {
    return {
      fields: [
        "name",
        "username",
        "email",
        "phone",
        "address",
        "edit",
        "delete"
      ],
      users: [],
      name: null,
      username: "amin"
    };
  },
  components: {
    InputModel
  },
  created() {
    axios.get(`http://jsonplaceholder.typicode.com/users/`).then(response => {
      this.users = response.data;
      this.users.forEach(user => {
        this.$set(user, "edit", true);
      });
    });
  },
  methods: {
    deleterow(index) {
      this.users.splice(index, 1);
    }
  }
};
</script>

<style scoped>
#app {
  padding: 50px;
}

tr {
  border: 1px solid black;
  padding: 10px;
}

td {
  border: 1px solid black;
  padding: 10px;
}

th {
  border: 1px solid black;
  padding: 10px;
}
</style>